@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-VariableItalic.woff2') format('woff2');
  font-weight: 200 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-primary: #f4aa0b;

  --color-brand-25: #fffbf0;
  --color-brand-50: #fef7e7;
  --color-brand-100: #fdeece;
  --color-brand-200: #fadd9e;
  --color-brand-300: #f6bb3c;
  --color-brand-400: #f6bb3c;
  --color-brand-500: #f4aa0b;
  --color-brand-600: #c38809;
  --color-brand-700: #614405;
  --color-brand-800: #312202;
  --color-brand-900: #221802;
  --color-brand-950: #221802;

  --font-sans: 'General Sans';
  --font-mono: 'General Sans';

  --color-accent-50: var(--color-brand-50);
  --color-accent-100: var(--color-brand-100);
  --color-accent-200: var(--color-brand-200);
  --color-accent-300: var(--color-brand-300);
  --color-accent-400: var(--color-brand-400);
  --color-accent-500: var(--color-brand-500);
  --color-accent-600: var(--color-brand-600);
  --color-accent-700: var(--color-brand-700);
  --color-accent-800: var(--color-brand-800);
  --color-accent-900: var(--color-brand-900);
  --color-accent-950: var(--color-brand-950);

  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
}

body {
    font-weight: 500;
    color: var(--color-gray-500);
}

.site-title {
    font-family: 'General Sans', sans-serif;
    display: flex;
    align-items: end;
    gap: .5rem;
}

.site-title span {
    font-size: 1.2rem;
    font-weight: 600;
}

.hero {
    height: calc(100vh - 5.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
   .site-title span {
        display: none;
    }

    .hero {
        flex-direction: column;
    }
}

h1, h2,h3, h4, h5, h6 {
    font-family: 'General Sans', sans-serif;
}
